/*
    GLOBAL STYLES
*/

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.href-block {
    display: block;
    text-decoration: none;
}

/*
    BUTTONS
*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFFFFF;
    border-radius: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 272px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

.button:hover {
    color: #00CC66 !important;
    border-color: #00CC66 !important;
}

/*
    LINKS
*/

.link-social-network {
    transition: all 0.35s ease-out;
}

.link-social-network:hover {
    opacity: 0.4;
}

.link {
    color: #275BEC;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    transition: all 0.35s ease-out;
}

.link:hover {
    color: #00CC66;
}

/*
    FOOTER
*/

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    background-color: #1E4776;
}

.footer-box {
    width: 550px;
    margin: 50px 0;
}

.footer__developers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
    color: #7E9EC9;
    line-height: 130%;
}

.footer__developers__developer {
    font-weight: 700;
    font-size: 28px;
}

.footer__developers__description {
    font-weight: 600;
    font-size: 16px;
}

.footer__social-networks__wrapper {
    display: flex;
    justify-content: center;
}

.footer__social-networks {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    color: #fff;
}

.footer__social-networks__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
}

.footer__social-networks__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    color: #7E9EC9;
}

.footer__link__button {
    color: #fff;
}

.footer__link__description {
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

/*
    MEDIA
*/

@media screen and (max-width: 900px) {

    .footer-box {
        margin: 20px 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__developers {
       align-items: center;
    }

    .footer__social-networks__wrapper {
        align-items: center;
    }

    .footer__link {
        align-items: center;
    }

    .footer__link__description {
        text-align: center;
    }
}